
<div id="footer" style="background:black">
  <div class="container">
    <div class="row">
      <!--<h3 class="footertext">About Us:</h3>-->
      <br>
      <div class="col-md-4">

        <i class="fa fa-road fa-4x" style="color: darkorange" aria-hidden="true"></i>
        <br>
        <h4 class="footertext">Paving</h4>
        <p class="footertext">Paving info here.<br>
      </div>
      <div class="col-md-4">
        <i class="fa fa-truck fa-4x" style="color:red" aria-hidden="true"></i>
        <br>
        <h4 class="footertext">Trucking</h4>
        <p class="footertext">Trucking info here.<br>
      </div>
      <div class="col-md-4">
        <a routerLink="/ContactUs">
          <i class="fa fa-phone-square fa-4x" style="color: cornflowerblue" aria-hidden="true"></i>
        </a>
        <br>
        <h4 class="footertext">Contact Us</h4>
        <p class="footertext">6802 Decker Lane, Charlestown, IN 47111.<br>
      </div>
    </div>
    <div class="row">
      <p><a href="#">Contact Stuff Here</a></p> <p class="footertext">Copyright 2018</p>
    </div>
  </div>
</div>
